 body {
    font-family: Arial, sans-serif;
}

header {
    background-image: url('bg.png');
    padding: 15px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 1500px 700px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.search-container {
    margin-top: 20px;
}

.search-container input, .search-container select {
    padding: 5px;
    font-size: 16px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: left;
    vertical-align: top;
}

#mainheading {
    color: red;
    font-size: 30px;
}

#resto {
    color: rgb(255, 145, 0);
    font-size: 150px;
}

.data-table td {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-table td img {
    flex: 0 0 50%;  /* Ensures the image takes up exactly 50% of the cell's width */
    height: auto;
    margin-right: 20px; /* Space between image and text */
}

.data-table td p {
    flex: 1;  /* Ensures the text takes up the remaining space */
    margin: 0;
}
